<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="meetup">
        <div class="title">
          <%= @meet.title %>
        </div>
        <div class="info">
          <%= @meet.info %>
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
